{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Profile</h1>
    
    <!-- User Information Section -->
    <div class="card mb-4">
        <div class="card-body text-center">
            <h2 class="card-title">{{ user.name }}</h2>
            <p class="card-text">{{ user.description }}</p>
        </div>
    </div>

    <!-- Personal Goals Section -->
    <h2 class="text-center mb-4">Personal Goals</h2>
    <div class="row">
        {% for goal in goals %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ goal.title }}</h5>
                    <p class="card-text">{{ goal.description }}</p>
                    <button type="button" class="btn btn-danger btn-sm" onClick="deleteGoal('{{ goal.id }}')">
                        <span aria-hidden="true">&times;</span> Delete
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Add New Goal Section -->
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Add a New Goal</h5>
            <form method="POST" action="{{ url_for('views.profile') }}">
                <div class="form-group">
                    <label for="title">Goal Title:</label>
                    <input type="text" id="title" name="title" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="description">Goal Description:</label>
                    <textarea name="description" id="description" class="form-control" required></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Add Goal</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
   function deleteGoal(goalId) {
       fetch("/delete-goal", {
           method: "POST",
           headers: {
               "Content-Type": "application/json"
           },
           body: JSON.stringify({ goalId: goalId }),
       }).then((_res) => {
           window.location.href = "/profile";
       });
   }
</script>
{% endblock %}
