{% extends "base.html" %} 

{% block title %}To Do{% endblock %} 

{% block content %}
<h1>Welcome to My To-Do List App!</h1>

<ul>
    {% for task in tasks %}
        <li>{{ task.description }}
        <button type="button" class="close" onClick="deleteTask('{{ task.id }}')">
            <span aria-hidden="true">&times;</span>
        </button>
        </li>
    {% endfor %}
</ul>

<form method="POST" action="{{ url_for('auth.add_task') }}">
    <label for="newTask">Add Task:</label>
    <input type="text" id="newTask" name="newTask" required>
    <button type="submit">Add</button>
</form>
{% endblock %}
