{% extends "base.html" %}

{% block title %}Wettspiel{% endblock %}

{% block content %}
<div class="container-fluid mt-5 background d-flex align-items-center justify-content-center">
    <div class="content text-center">
        <h1 class="mb-4">Wettspiel</h1>
        
        <!-- Description Section -->
        <div class="card mb-4">
            <div class="card-body text-center">
                <h2 class="card-title">TamTour</h2>
                <p class="card-text">Erfahre mehr über Wettspiele</p>
                <a href="https://tamtour.ch" class="btn btn-primary" target="_blank">Jetzt teilnehmen</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
