.background {
    background-image: url("/bilder/trommel.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.content {
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Hintergrund für den Textbereich */
    padding: 20px;
    border-radius: 10px;
}
